@charset "utf-8";
/* CSS Document */

body  
{
	text-align:center;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:76%;
	letter-spacing:0.05em;
}

h1
{
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:30px;
	text-align:center;
	color:#0F0;
}
	

/*##############################################
					GALLERY CODE
##############################################*/

#gallery /*gallery container*/
{
	position:relative;
	width:770px;
	height:400px;
	margin:20px auto 0 auto;
	border: 10px double #666;
	background:black url(Pics/Standard%20Background.jpg) 75px 10px no-repeat;
}

#gallery ul /*setting margins and removing the bullets*/
{
	padding:0px;
	margin:0;
	list-style-type:none;
}

#gallery a.gallery span /*stacking everything on top of each other to remove images and text*/
{
	position:absolute;
	width:1px;
	height:1px;
	top:5px;
	left:5px;
	overflow:hidden;
	background:#fff;
}

#gallery a.gallery, #gallery a.gallery:visited
{
	display:block;
	color:#000;
	text-decoration:none;
	border:1px solid #000;
	margin:1px 2px 1px 2px;
	text-align:left;
	cursor:default;
}

#gallery a.slidea
{
	background:url(Pics/Thumbnails/1.jpg);
	height:60px;
	width:60px;
}
#gallery a.slideb
{
	background:url(Pics/Thumbnails/2.jpg);
	height:60px;
	width:60px;
}
#gallery a.slidec
{
	background:url(Pics/Thumbnails/3.jpg);
	height:60px;
	width:60px;
}
#gallery a.slided
{
	background:url(Pics/Thumbnails/4.jpg);
	height:60px;
	width:60px;
}
#gallery a.slidee
{
	background:url(Pics/Thumbnails/5.jpg);
	height:60px;
	width:60px;
}
#gallery a.slidef
{
	background:url(Pics/Thumbnails/6.jpg);
	height:60px;
	width:60px;
}
#gallery a.slideg
{
	background:url(Pics/Thumbnails/7.jpg);
	height:60px;
	width:60px;
}
#gallery a.slideh
{
	background:url(Pics/Thumbnails/8.jpg);
	height:60px;
	width:60px;
}
#gallery a.slidei
{
	background:url(Pics/Thumbnails/9.jpg);
	height:60px;
	width:60px;
}
#gallery a.slidej
{
	background:url(Pics/Thumbnails/10.jpg);
	height:60px;
	width:60px;
}
#gallery a.slidek
{
	background:url(Pics/Thumbnails/11.jpg);
	height:60px;
	width:60px;
}
#gallery a.slidel
{
	background:url(Pics/Thumbnails/12.jpg);
	height:60px;
	width:60px;
}
#gallery a.slidem
{
	background:url(Pics/Thumbnails/13.jpg);
	height:60px;
	width:60px;
}
#gallery a.sliden
{
	background:url(Pics/Thumbnails/14.jpg);
	height:60px;
	width:60px;
}
#gallery a.slideo
{
	background:url(Pics/Thumbnails/15.jpg);
	height:60px;
	width:60px;
}
#gallery a.slidep
{
	background:url(Pics/Thumbnails/16.jpg);
	height:60px;
	width:60px;
}
#gallery a.slideq
{
	background:url(Pics/Thumbnails/17.jpg);
	height:60px;
	width:60px;
}
#gallery a.slider
{
	background:url(Pics/Thumbnails/18.jpg);
	height:60px;
	width:60px;
}

#gallery ul
{
	width:198px;
	height:386px;
	margin:5px;
	float:right;
}
#gallery li
{
	float:left;
}

#gallery a.gallery:hover
{
	border:1px solid #fff;
}
#gallery a.gallery:hover span
{
    position:absolute; 
    width:400px; 
    height:300px; 
    top:35px; 
    left:75px; 
    color:#000; 
    background:black;
}

#gallery a.gallery:hover img 
{
    border:1px solid black; 
    float:left; 
    margin-right:5px;
}
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(0,0,0,0.1);
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: rgba(0,0,0,0.6);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(0,0,0,1);
	}